<div class="panel panel-info">
	<div class="panel-heading"><%= link_to edit_task_path(task) do %>
		Created <%= time_ago_in_words(task.created_at) %> ago
		<%= link_to 'x', task_path(task), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, class: 'pull-right' %>
	</div>
	<% end %>
	<div class="panel-body"><%= task.content %></div>
	<div class="panel-footer text-center">
		<% if task.state == 0 %>
			<%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, change_task_path(task, state: 1), method: :put, class: 'btn btn-default btn-md btn-block' %>
		<% elsif task.state == 1 %>
			<div class="btn-group btn-group-justified">
				<%= link_to '<i class="fa fa-arrow-left"></i>'.html_safe, change_task_path(task, state: 0), method: :put, class: 'btn btn-default btn-md btn-block'  %>
				<%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, change_task_path(task, state: 2), method: :put, class: 'btn btn-default btn-md btn-block'  %>
			</div>
		<% elsif task.state == 2 %>
			<%= link_to '<i class="fa fa-arrow-left"></i>'.html_safe, change_task_path(task, state: 1), method: :put, class: 'btn btn-default btn-md btn-block'  %>
		<% end %>
	</div>
</div>
